.heading1 {
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
}

.heading2 {
    font-family: "Comfortaa", sans-serif;
    font-size: 18px;
    color: #FF8541;
}

.heading3 {
    font-family: "Comfortaa", sans-serif;
    font-size: 14px;
}

.APILink{
    text-decoration: none;
}

.landingContainer{
    text-align: left;
    margin-top: 35px;
    padding-left: 35px;
}

.or{
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-size: 24px;
}

.searchContainer{
    margin-top: 65px;
}

.row{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.githubIcon{
    width: 30px;
    height: 30px;
    padding-right: 35px;
}

.githubIcon:hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.2s;
}